# Entorno Virtual
mlops_project

# Archivos de caché
__pycache__/
*.pyc

# Archivos de configuración de VSCode
.vscode/

# Archivos grandes
Datasets/credits.csv
Datasets/movies_dataset.csv
Datasets/Datasets_Limpios/csv/

#DS_Store
.DS_Store

PLANTILLA.py
testing_funciones.ipynb

RESPALDOS/

/venv

Datasets/Datasets_Limpios/Parquet/collections.parquet
Datasets/Datasets_Limpios/Parquet/prodcompanies.parquet
Datasets/Datasets_Limpios/Parquet/prodcountries.parquet
Datasets/Datasets_Limpios/Parquet/genres.parquet