# Entorno Virtual
mlops_project

# Archivos de caché
__pycache__/
*.pyc

# Archivos de configuración de VSCode
.vscode/

# Archivos grandes
Datasets/credits.csv
Datasets/movies_dataset.csv
Datasets/Datasets_Limpios/csv/

#DS_Store
.DS_Store

PLANTILLA.py
testing_funciones.ipynb

RESPALDOS/